* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body
{
    background-color: #FC4445;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
}

.link {
    display: block;
    text-decoration: none;
    border: 4px solid #3FEEE6;
    margin: 20px auto;
    position: relative;
    line-height: 25px;
    width: 260px;
    height: 35px;
    text-align: center;
    overflow: hidden;
}

.link::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    width: 100%;
    transition: 0.3s;
}

span {
    display: block;
    transition: 0.3s;
}

.link:hover::before {
    transform: translateX(0);
}

.link span:hover {
    transform: translateX(100%);
}